## Lab - 02B

### Q1

In [16]:
names=["Anshul","Shivansh","Sanskar","Kamna","Arjun","Katiyar","Honey","Prabhat","Harshit","Negi"]
print("a-->",names[1])  
print("b-->",names[9]) 
print("c-->",names[3:6]) 
print("d-->",names[::-1])
print("e-->",names[8:2:-1])

a--> Shivansh
b--> Negi
c--> ['Kamna', 'Arjun', 'Katiyar']
d--> ['Negi', 'Harshit', 'Prabhat', 'Honey', 'Katiyar', 'Arjun', 'Kamna', 'Sanskar', 'Shivansh', 'Anshul']
e--> ['Harshit', 'Prabhat', 'Honey', 'Katiyar', 'Arjun', 'Kamna']

### Q2

In [45]:
stu = ("anshul","arjun","honey","avinash","aniket")
print("a-->")
for i in stu:
    print(i)

a-->
anshul
arjun
honey
avinash
aniket

In [46]:
ele=("Negi",)
stu=stu+ele
for i in stu:
    print(i)
print(stu[1:4])
#Cannot delete or chnage elemnets as Tuples are immutable

anshul
arjun
honey
avinash
aniket
Negi
('arjun', 'honey', 'avinash')

### Q3

In [59]:
dict={"Anshul":20,"Honey":19,"Arjun":23,"Avinash":50}
for name,age in dict.items():
    if age>20:
        print(f"{name}:{age}")
dict["Prish"]=30

Arjun:23
Avinash:50

In [60]:
for name , age in dict.items():
    print(f"{name}:{age}")
if "Avinash" in dict:
    del dict["Avinash"]
print("------------------------------")
for name , age in dict.items():
    print(f"{name}:{age}")

Anshul:20
Honey:19
Arjun:23
Avinash:50
Prish:30
------------------------------
Anshul:20
Honey:19
Arjun:23
Prish:30

In [62]:
total = 0;
count = 0;
for age in dict.values():
    total+=age;
    count+=1
print(f"average age: {total/count}")

average age: 23.0

### Q4

In [71]:
n= int(input("Enter the size of list: "))
nums=[]
for i in range(n):
    nums.append(int(input(f"Enter {i}th element: ")))
for num in nums:
    if num%2==0:
        print(num)

Enter the size of list:  5
Enter 0th element:  1
Enter 1th element:  2
Enter 2th element:  3
Enter 3th element:  4
Enter 4th element:  5

2
4

### Q5

In [77]:
a = [1, 2, 3, 1, 2, 4, 5, 6, 5]
s = set()
dup = []
for n in a:
    if n in s:
        dup.append(n)
    else:
        s.add(n)
print(dup)

[1, 2, 5]

### Q6

In [76]:
str=input("Enter a string: ")
print(str[::-1])

Enter a string:  anshul

luhsna

### Q7

In [87]:
def fibo(n):
    if n <= 0:
        return "Invalid input! Please enter a positive integer."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibo(n - 1) + fibo(n - 2)
n=5
i=1
for i in range(1,n+1):
    print(fibo(i),"  ",end ='')

0   1   1   2   3

### Q8

In [1]:
new_content = "Hi, I am currently pursuing my BTech from Jaypee."

with open("lab_b.txt", 'w') as file:
    file.write(new_content)

File content has been replaced successfully.

### Q9

In [5]:
with open("lab_b.txt", 'r') as file:
    lines = file.readlines()

for line in reversed(lines):
    print(line.strip())

i am Anshul singh
siuuuuuuuuuuuu
Hi, I am currently pursuing my BTech from Jaypee.

### Q10

In [6]:
nums=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd=[]
for num in nums:
    if num%2!=0:
        odd.append(num)
print(odd)

[1, 3, 5, 7, 9]

### Q11

In [7]:
file_path = "lab_b.txt"

with open(file_path, 'r') as file:
    content = file.read()

char_count = len(content)

print("Number of characters in the file:", char_count)

Number of characters in the file: 82

### Q12

In [8]:
from collections import defaultdict

words = ['eat', 'ate', 'tea', 'bat', 'tab', 'tan', 'ant', 'net', 'ten']

anagrams = defaultdict(list)

for word in words:
    sorted_word = ''.join(sorted(word))
    anagrams[sorted_word].append(word)

for group in anagrams.values():
    if len(group) > 1:
        print("Anagram group:", group)

Anagram group: ['eat', 'ate', 'tea']
Anagram group: ['bat', 'tab']
Anagram group: ['tan', 'ant']
Anagram group: ['net', 'ten']